:root {
  --background-color: rgb(255, 208, 0);
  --link-color: rgb(19, 82, 199);
  --text-color: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222;
    --link-color: rgb(101, 155, 255);
    --text-color: rgb(255, 208, 0);
  }
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: "Oxygen", sans-serif;
  font-size: 1.125em;
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--text-color);
  touch-action: manipulation;
}

p {
  line-height: inherit;
}

summary {
  cursor: pointer;
}

summary h2,
summary h3,
summary h4,
summary h5,
summary h6 {
  display: inline-block;
}

// Typography

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", Georgia, serif;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--link-color);

  &:hover {
    color: var(--link-color);
  }
}

.text-layout {
  max-width: 60ch;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  p {
    margin-bottom: 1rem;
  }

  ul,
  ol {
    padding-left: 2rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  a {
    color: var(--link-color);

    &:hover {
      text-decoration: none;
    }
  }
}

.skip-nav {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  background-color: var(--text-color);
  color: var(--background-color);
  border-radius: 2px;
  text-decoration: none;
}

// Layouts
.switcher-layout {
  --measure: 60ch;
  --gap: 1rem;
}

.switcher-layout > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc((var(--gap) / 2) * -1);
}

.switcher-layout > * > * {
  flex-grow: 1;
  flex-basis: calc((var(--measure) - (100% - var(--gap))) * 99999);
  margin: calc(var(--gap) / 2);
}

.header-layout {
  margin-bottom: 3rem;

  > * + * {
    margin-top: 1rem;
  }

  .name {
    font-size: 2rem;
    margin-bottom: 1rem;
    border-right: 1px solid #22222222;

    a {
      padding-right: 1rem;
      background-color: var(--background-color);
      z-index: 1;
      text-decoration: none;
    }

    + * {
      border-top: 1px solid #22222222;
      padding-top: 2.5rem;
      margin-top: -2.5rem;
    }
  }

  .description {
    font-size: 0.875rem;
    max-width: 20ch;
  }

  a {
    padding: 4px 8px;
    margin-left: -8px;

    &[aria-current] {
      background-color: var(--text-color);
      color: var(--background-color);
      border-radius: 2px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Utilities
.container {
  box-sizing: content-box;
  padding: 20px 40px;
  margin-left: auto;
  margin-right: auto;
}

.sr-only:not(:focus):not(:active) {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

time,
.eyebrow {
  font-family: "Anonymous Pro", Courier, monospace;
  font-size: 0.875rem;
}

.heading {
  h1 {
    margin-bottom: 0;
  }

  margin-bottom: 3rem;
}

// Articles (index) styles
.articles {
  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    margin-bottom: 2.5rem;
  }

  li > :first-child {
    margin-bottom: 0;
  }
}

// Pagination
.pagination {
  font-size: 0.875rem;
  margin-left: -8px;

  ol {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    font-family: "Anonymous Pro", Courier, monospace;
  }

  li {
    margin-right: 0.5rem;
    margin-bottom: 0;
    padding: 4px 8px;
  }

  a {
    color: inherit;
    font-weight: 700;
    margin: -4px -8px;
    padding: 4px 8px;

    &:not([aria-current]) {
      color: var(--text-color);
    }

    &:focus,
    &:hover,
    &[aria-current] {
      background-color: var(--text-color);
      color: var(--background-color);
      border-radius: 2px;
    }

    &:focus,
    &:hover,
    &:not([aria-current]) {
      text-decoration: underline;
    }
  }
}
