<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <a class="sr-only" href="#main">Skip navigation</a>

    <div class="container">
      <div class="site-layout">
        <header>
          <div class="header-layout">
            <p class="name">Mel Chua</p>

            <p class="description">
              Hacker. Writer. Researcher. Teacher. Human jumper cable.
            </p>

            <nav aria-labelledby="site-nav-header">
              <div id="site-nav-header" class="sr-only">Site navigation</div>
              <ul class="eyebrow">
                <li><a href="/">BLOG</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/cv">CV</a></li>
              </ul>
            </nav>
          </div>
        </header>

        <main id="main" class="text-layout">
          {{ content | safe }}
        </main>
      </div>
    </div>
  </body>
</html>
