<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if title %}
        {{ title }} | {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <a class="sr-only" href="#main">Skip navigation</a>

    <div class="container switcher-layout">
      <div>
        <header style="flex-grow: 4">
          <div class="header-layout">
            <div class="name"><a href="/">{{ site.name }}</a></div>

            <nav aria-labelledby="site-nav-header">
              <div id="site-nav-header" class="sr-only">Site navigation</div>
              <ul class="eyebrow">
              {% for link in site.navigation %}
                <li><a href="{{ link.url }}"{% if page.url === link.url %} aria-current="page"{% endif %}>{{ link.label }}</a></li>
              {% endfor %}
              </ul>
            </nav>

            <p class="description">
              Hacker. Writer. Researcher. Teacher. Human jumper cable.
            </p>
          </div>
        </header>

        <main id="main" style="flex-grow: 8">
          <div class="text-layout">
            {{ content | safe }}
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
