---
layout: _layouts/default.njk
---

<div class="text-layout">
  <div class="heading">
    <h1>{{ title }}</h1>
    <time datetime="{{ page.date | w3c_date }}">{{ page.date | post_date }}</time>
  </div>

  {{ content | safe }}
</div>
