---
title: Articles
pagination:
  data: collections.blogPosts
  size: 10
  reverse: true
permalink: "/{% if pagination.pageNumber > 0 %}blog/{{ pagination.pageNumber + 1 }}/{% endif %}"
---

<div class="heading">
  <h1>Articles</h1>
</div>

<div class="articles">
  <ul>
    {%- for item in pagination.items -%}
    <li>
      <h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
      <time datetime="{{ item.date | w3c_date }}">{{ item.date | post_date }}</time>
    </li>
    {%- endfor -%}
  </ul>
</div>

{% include "_partials/pagination.njk" %}
