---
title: Articles
pagination:
  data: collections.blogPosts
  size: 10
  reverse: true
permalink: "/{% if pagination.pageNumber > 0 %}blog/{{ pagination.pageNumber + 1 }}/{% endif %}"
---

<div class="heading">
  <h1>Articles</h1>
</div>

<div class="articles">
  <ul>
    {%- for item in pagination.items -%}
    <li>
      <p class="eyebrow">{{ item.date | post_date }}</p>
      <h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
    </li>
    {%- endfor -%}
  </ul>
</div>

<nav class="pagination" aria-labelledby="pagination">
  <h2 id="pagination" class="sr-only">Pagination</h2>
  <ol>
    <li>
    {%- if pagination.href.previous -%}
      <a href="{{ pagination.href.previous }}">Previous</a>
    {%- else -%}
      Previous
    {%- endif -%}
    </li>
    {%- for pageEntry in pagination.pages -%}
    <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url === pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}><span class="sr-only">Page </span>{{ loop.index }}</a></li>
    {%- endfor -%}
    <li>
    {%- if pagination.href.next -%}
      <a href="{{ pagination.href.next }}">Next</a>
    {%- else -%}
      Next
    {%- endif -%}
    </li>
  </ol>
</nav>